# Day 4

### Functions

In [1]:
# Create a function in Python

def my_func(name,age):
    print(name,age)
    
my_func('ben',21)

ben 21

In [2]:
# Create a function with variable length of arguments
def my_func(*n):
    for i in n:
        print(i,end = ' ')

my_func(1,2,3,4,5)

1 2 3 4 5

In [3]:
# Create a function with variable length of arguments
def my_func(*n):
    print(n)

my_func(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [4]:
# Return multiple values from a function
def calc(a,b):
    add = a+b
    sub = a-b
    return add,sub
calc(7,3)

(10, 4)

In [5]:
def calc(a,b):
    add = a+b
    sub = a-b
    print(add,sub)
calc(7,3)

10 4

In [6]:
# Create a function with a default argument
# Write a program to create a function show_employee() using the following conditions.
# It should accept the employeeâ€™s name and salary and display both.
# If the salary is missing in the function call then assign default value 9000 to salary

def show_employee(name, salary = 9000): # Assigning default value of salary as 9000.
    print('Name: ',name, 'Salary: ',salary)
    
show_employee('Ben', 51000)

Name:  Ben Salary:  51000

In [7]:
# Create an inner function to calculate the addition in the following way:
# Create an outer function that will accept two parameters, a and b
# Create an inner function inside an outer function that will calculate the addition of a and b
# At last, an outer function will add 5 into addition and return it

def out_func(a,b):
    multi = a*b
    def inn_func(a,b):
        return a+b
    add = inn_func(a,b)
    return add+5

In [8]:
result = out_func(3,7)
print(result)

15

In [9]:
# WAF to print the length of a list. ( list is the parameter)

def len_list(lists):
    print(len(lists))

In [10]:
l1 = ['apple','television','laptop','headphones','mobile','book','dummbell','sneakers','clothes']
l2 = ['fridge','AC','inverter','battery','fork','photoframe','bed']

In [11]:
len_list(l1)

9

In [12]:
len_list(l2)

7

In [13]:
# WAF to print the elements of a list in a single line. ( list is the parameter)

def list_elem(lists):
    for item in lists:
        print(item,end = ' ')

In [14]:
list_elem(l1)

apple television laptop headphones mobile book dummbell sneakers clothes

In [15]:
list_elem(l2)

fridge AC inverter battery fork photoframe bed

In [16]:
# WAF to find the factorial of n. (n is the parameter)

def find_f(n):
    facto = 1
    for i in range(1,n+1):
        facto *= i
    print(facto)

In [17]:
find_f(5)

120

In [18]:
# WAF to return the factorial of n. (n is the parameter)
def find_ft(n):
    facto = 1
    for i in range(1,n+1):
        facto *= i
    return facto

In [19]:
find_ft(5)

120

In [20]:
# WAF to convert USD to INR.
def usd_to_inr(usd_val):
    inr_val = usd_val*80
    print(usd_val,'USD =',inr_val,'INR')

In [21]:
usd_to_inr(50)

50 USD = 4000 INR

In [22]:
usd_to_inr(100)

100 USD = 8000 INR

In [23]:
def ev_od(n):
    if n%2==0:
        print('even')
    elif n%2!=0:
        print('odd')

In [24]:
ev_od(53)

odd

In [25]:
# Assign a different name to function and call it through the new name

def old_name(name,age):
    print(name,age)
old_name('Ben',21)

Ben 21

In [26]:
new_name = old_name

In [27]:
new_name('Andrews',24)

Andrews 24

In [28]:
# Write a Python function to find the maximum of three numbers. 

def max_of_three(a,b,c):
    if a>b and a>c:
        return a
    elif b>c and b>a:
        return b
    elif c>b and c>a:
        return c

In [29]:
max_of_three(6,7,3)

7

In [30]:
# Write a Python function to sum all the numbers in a list.

def sum_list(lists):
    summ = 0
    for num in lists:
        summ += num
    return summ

In [31]:
list1 = [4,2,11,8,5,9,14,3]
sum_list(list1)

56

In [32]:
# Write a Python function to multiply all the numbers in a list.

def list_multi(lists):
    multi = 1
    for num in lists:
        multi *= num
    return multi

In [33]:
list1 = [4,2,11,8,5,9,14,3]
list_multi(list1)

1330560

In [34]:
# Write a Python program to reverse a string.

def rev_str(n):
    rs = ''
    for i in n:
        rs = i+rs
    return rs

In [35]:
rev_str('1234abcd')

'dcba4321'

In [36]:
# Write a Python program to reverse a string.

def rev_str_wl(n):
    rs = ''
    i = 0
    while i<len(n):
        rs = n[i] + rs
        i+=1
    return rs

In [37]:
rev_str_wl('1234abcd')

'dcba4321'

In [38]:
# Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

def facto_n(n):
    factr = 1
    i = 1
    while i<=n:
        factr*=i
        i+=1
    return factr

In [39]:
facto_n(5)

120

In [40]:
# Write a Python function to check whether a number falls within a given range.

def check_n(n):
    if n in range(7,31):
        print('Yes it is in given range.')
    else:
        print('No its not in given range.')

In [41]:
check_n(13)

Yes it is in given range.

In [42]:
# Write a Python function that accepts a string and counts the number of upper and lower case letters.
# Sample String : 'The quick Brow Fox'
def count_up_low(n):
    low_c = 0
    up_c = 0
    for i in n:
        if i.isupper():
            up_c += 1
        elif i.islower():
            low_c += 1
    print(low_c)
    print(up_c)

In [43]:
count_up_low('The quick Brown Fox')

13
3

In [44]:
def count_up_low_wl(n):
    low_c = 0
    up_c = 0
    i = 0
    while i<len(n):
        if n[i].isupper():
            up_c += 1
        elif n[i].islower():
            low_c += 1
        i+=1
    print(low_c)
    print(up_c)

In [45]:
count_up_low_wl('The quick Brow Fox')

12
3

In [46]:
# Write a Python function that takes a list and returns a new list with distinct elements from the first list.

def distinct_list(lists):
    new_list = []
    for items in lists:
        if items not in new_list:
            new_list.append(items)
    return new_list

In [47]:
l1 = [2,4,2,6,1,6,4,7,8,0,23,2,4,7,5,9,9,8]
distinct_list(l1)

[2, 4, 6, 1, 7, 8, 0, 23, 5, 9]

In [48]:
# Write a Python function that takes a number as a parameter and checks whether the number is prime or not.
def prime_check(n):
    factors = 0
    if n == 1:
        print('Its not a prime number')
    elif n>1:
        i = 2
        while i<n:
            if n%i == 0:
                factors+=1
            i+=1
        if factors==0:
            print('Prime')
        else:
            print('Not prime')

In [49]:
prime_check(79)

Prime

In [50]:
def prime_check_fl(n):
    factors = 0
    if n == 1:
        print('Its not a prime number')
    elif n>1:
        for num in range(2,n):
            if n%num == 0:
                factors+=1
        if factors==0:
            print('Prime')
        else:
            print('Not prime')

In [51]:
prime_check_fl(13)

Prime

In [52]:
#  Write a Python program to print the even numbers from a given list. 

def list_evn(lists):
    n_l = []
    i = 0
    while i<len(lists):
        if lists[i]%2==0:
            n_l.append(lists[i])
        i+=1
    print(n_l)

In [53]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
list_evn(l1)

[2, 4, 6, 8]

In [54]:
def list_evn_fl(lists):
    n_l = []
    for i in lists:
        if i%2==0:
            n_l.append(i)
    print(n_l)

In [55]:
list_evn_fl(l1)

[2, 4, 6, 8]

In [56]:
# Write a Python function that checks whether a passed string is a palindrome or not

def paldrm(n):
    rev_str = ''
    for i in n:
        rev_str= i+rev_str
    if n==rev_str:
        print('palindrome')
    else:
        print('not palindrome')

In [57]:
paldrm('madam')

palindrome

In [58]:
def paldrm_wl(n):
    rev_str = ''
    i = 0
    while i<len(n):
        rev_str = n[i] +rev_str
        i+=1
    if n==rev_str:
        print('palindrome')
    else:
        print('not palindrome')

In [59]:
paldrm_wl('madam')

palindrome

In [60]:
# Write a Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included).
def sq_num():
    sq = []
    for i in range(1,31):
        sq.append(i**2)
    print(sq)

In [61]:
sq_num()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [62]:
# Given a sentence, return a sentence with the words reversed
def rev_sent(n):
    l_sent = n.split(' ')
    st_rev = ''
    for i in l_sent:
        st_rev = i +' '+st_rev
    print(st_rev)

In [63]:
rev_sent('The quick Brown Fox')

Fox Brown quick The